.App {
  background-color: #869cff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

#calculator{
  width:280px;
  height:400px;
  background-color: black;
  display: flex;
  border: solid 5px black;
  flex-wrap: wrap;
}
#display {
  width: 100%;
  height: 20%;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: right;
  align-items: end;
  border: solid 1px black;
}
.row{
  height: 64px;
  display: flex;
  flex-wrap: wrap;
}
.row.four{
  height: 128px;
}
.inner-column.first{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
#buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button{
  width: 69px;
  height: 63px;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
#equals{
  background-color: #3C6E71;
}
#AC{
  background-color: #284B63;
}
.wide {
  width: 139px;
}
.tall{
  height: 127px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
