.App {
  background-color: #869cff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

#calculator{
  width:280px;
  height:400px;
  background-color: black;
  display: flex;
  border: solid 5px black;
  flex-wrap: wrap;
}
#screen {
  width: 100%;
  height: 20%;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: right;
  align-items: end;
  border: solid 1px black;
  flex-direction: column;
}
#display{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
#equation{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: right;
  font-size: .4em;
  align-items: flex-start;
}
.row{
  height: 64px;
  display: flex;
  flex-wrap: wrap;
}
.row.four{
  height: 128px;
}
.inner-column.first{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
#buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button{
  all: unset;
  width: 69px;
  height: 63px;
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  cursor: pointer;
}
.button:hover {
  background-color: black;
}
#equals{
  background-color: #3C6E71;
}
#AC{
  background-color: #284B63;
}
#AC:hover, #equals:hover{
  background-color: white;
  color: black;
}
.wide {
  width: 139px;
}
.tall{
  height: 127px;
}