.App {
  background-color: #869cff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

#calculator{
  width:280px;
  height:400px;
  background-color: black;
  display: flex;
  border: solid 5px black;
  flex-wrap: wrap;
}
#display {
  width: 100%;
  height: 20%;
  background-color: #320e39;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: right;
  align-items: end;
  border: solid 1px black;
}
.button{
  width: 24%;
  height: 16%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}
.wide {
  width: 48%;
}
.tall{
  height: 32%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
